[flake8]
select = B,B9,BLK,C,E,F,I,S,W
max-complexity = 10
ignore = B950,E203,E501,W503
max-line-length = 88
application-import-names = astraszab_hypermodern_python,tests
import-order-style = google
per-file-ignores = tests/*:S101